.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
    height: auto;
    background: url("../../data/campo.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
}
