@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&display=swap');
.text{
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    
    top: 5px;
    margin: 10px auto;

    background: linear-gradient(135deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    
    height: 100px;
    width: 100px;

    border-radius: 50%;
    
    
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 40px;
    font-family: 'Cookie';
    font-weight: bold;
    
    transition: 2s;
    animation: in 2s;
    animation: color 2s;
    
}

.nameBox{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300%;
    position: relative;
    bottom: 5px;
    
    font-size: 25px;
    font-family: 'Cookie';
    justify-content: center;
    color: white;
}

.titulo, .date, .textDate, .name{
   
    display: inline;
    position: relative;
    width: 100%;
    
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black; 
    
    font-size: 100px;
    font-family: 'Cookie' ;
    justify-content: center;
}

.name{
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    animation: typing 3.5s steps(60, end) infinite;
    overflow: hidden;
    white-space: nowrap;
    
}

.textDate{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: 'Dancing Script';
}

.date{
    display: block;
    position: relative;

    font-size: 60px;

    animation: none;
    
}



/* -----------------MEDIA QUERYS------------------ */
@media screen and (max-width:480px) {
    .titulo{
        font-size: 90px
       }
}
@media screen and (min-width: 481px) and (max-width:768px) {
   
}
@media screen and (min-width: 769px) and (max-width:1024px) {
    .text{
        width: 120px;
        height: 120px;
        font-size: 45px;
    }
}
@media screen and (min-width: 1025px) {
    .text{
        width: 120px;
        height: 120px;
        font-size: 45px;
    }
}


/* ---------------ANIMATIONS---------------------- */
@keyframes in {
    0%{
        transform: translateY(-100px);
    }
}

@keyframes color {
    0%{
        background:   linear-gradient(135deg, rgba(2,2,69,1) 0%, rgba(47,41,227,1) 50%, rgba(0,32,36,1) 100%);
        transform: translateY(-100px);
    }
    100%{
        background:  linear-gradient(135deg, rgba(2,2,69,1) 0%, rgba(47,41,227,1) 50%, rgba(0,32,36,1) 100%);
    }
}

@keyframes typing {
    from { width: 5px }
    to { width: 100% }
  }